<div class="text-center">
    <h1 class="display-4">Deaktivierung nicht möglich.</h1>
    <p>Die Bearbeitungsstelle kann nicht deaktiviert werden, da ansonsten keine einzige Bearbeitungsstelle mehr existiert.</p>
    <br />
    <p>Um diese Bearbeitungsstelle deaktivieren zu können muss vorher eine neue angelegt oder aktiviert werden.</p>
</div>

<div>
    <a asp-action="Index">Zurück zur Liste</a>
</div>
